@media (max-width: 250px) {
    .esravye0 {
        width: 100vw
    }
}

@media (min-width: 250px) and (max-width: 650px) {

    .esravye0 {
        width: 45vw;
    }
    .esravye3 {
    flex-wrap: nowrap;
    }

    .en8akda1 {
        border: none;
        align-items: center;
        text-align: center;
    }
